server/node_modules
server/videos/*
server/music/*
server/.DS_Store
server/database.json
server/test.js

web/node_modules
web/.env
web/.DS_Store
web/dist

.DS_Store

# sqlite database
*.db
server/test.js